@charset "UTF-8";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 100%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #121212;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #121212;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin-left: 300px;
}
.wrapper {
  max-width: 900px;
  padding: 80px 20px;
  margin: 0 auto;
}
.site-title {
  width: 200px;
  line-height: 1px;
  margin-bottom: 30px;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
}
.section-title::before,
.section-title::after {
  border-top: 1px solid;
  content: "";
  width: 28%;
}

.header {
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 40px 50px 30px 45px;
  position: fixed;
  top: 0;
  overflow-y: auto;
}
.header li {
  font-size: 0.875rem;
  padding: 8px 0;
}
nav {
  display: block;
}
.header-navi-menu {
  margin-bottom:60px;
  padding-left: 0;
}
.header-navi-sns {
  padding-left: 0;
}

.footer {
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
}
.footer p {
  font-size: 0.75rem;
  text-align: center;
}
#to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #121212;
  color: #fff;
}
#to-top::before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: 19px;
  left: 17px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px;
}
.footer-menu li {
  border-right: 1px solid #fff;
  font-size: 0.875rem;
  padding: 0 20px;
}
.footer-menu li:last-child {
  border: none;
}
.footer-menu a {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .container {
    margin-left: 0;
  }
  .wrapper {
    padding: 60px 20px;
    margin: 0 auto;
  }
  .site-title {
    width: 180px;
    margin-bottom: 0;
    position: relative;
    top: 18px;
    left: 10px;
  }
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .section-title::before,
  .section-title::after {
    content: "";
    width: 18%;   
  }

  .header {
    width: 100%;
    height: 72px;
    padding: 0;
    z-index: 10;
  }
  .header img {
    position: absolute;
    top: -8px;
    left: 8px;
  }
  .header-navi {
    width: 300px;
    background: #fff;
    padding: 25px;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 20;
  }
  .open .header-navi {
    left: 0;
    opacity: 1;
  }
  .header-navi-menu {
    margin-bottom: 30px;
  }
  .header-navi li {
    padding: 10px 0;
  }
  .toggle-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 18px;
    transition: 0.5s;
    z-index: 20;
  }
  .toggle-btn span {
    width: 30px;
    height: 2px;
    background-color: #121212;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  .toggle-btn span:nth-child(1) {
    top: 4px;
  }
  .toggle-btn span:nth-child(2) {
    top: 14px;
  }
  .toggle-btn span:nth-child(3) {
    bottom: 4px;
  }
  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
  }
  .open .toggle-btn span {
    background-color: #fff;
  }
  .open .toggle-btn span:first-child {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle-btn span:last-child {
    transform: translateY(-10px) rotate(315deg);
  }  

  .footer-menu {
    flex-wrap: wrap;
  }
  .footer-menu li {
    margin-bottom: 10px;
  }
}
